body{
    background-image: url(img/\ -2.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

header{
    width: 700px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
    margin-left: 60%;
}

li{
    background-color: grey;
    border-radius: 20px;
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    float: left;
    margin: 5px;
}

.link{
    text-decoration: none;
    color: white;
}

li a:hover{
    background-color: black;
}


#nombre {
    font-size: 70px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 520;
    padding-bottom: none;
    padding-top: 320px;
    margin-left: 60px;
    margin-bottom: 2px;
}
#desc{
    font-size: 35px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    padding-top: 1px;
    margin-top: 10px;
    margin-left: 60px;
}
